<!DOCTYPE html>
<html>
<head>
  <title>Thammasat University</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
  
</head>
<style>
  h3 {
    font-family: verdana;
    font-size: 150%;
  }
  jumbotronnn {
    height: 100px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color:  rgb(255, 255, 255);;
    opacity: 0.8;
    filter: alpha(opacity=70);
  }
</style>
<body style="background-image: url(https://uppic.cc/d/mCzUfgntvuLen6KTI1jpB);">


  <jumbotronnn>
    <!-- <h3 style="background-color: white;"><img style="background-color: aliceblue;" src="logo.png" height="55"> </h3> -->
    <h3  style="color:rgb(56, 27, 18);" align = 'center'>  <img src="https://i0.wp.com/retractionwatch.com/wp-content/uploads/2019/01/1200px-Emblem_of_Thammasat_University.svg_.png?resize=452%2C452&amp;ssl=1" height="100"><B>Welcome, please login to continue...</B></h3>

  </jumbotronnn>
  <!-- <h3 style="background-color: white;"><img style="background-color: aliceblue;" src="logo.png" height="55"> </h3> -->
<!-- <div class="jumbotron text-center" style="background-color: rgb(94, 2, 2)">
  <div class="container">
    <h3 style="color:whitesmoke;">Welcome, please login to continue...</h3>
    <h3></h3>
   </div>
</div> -->


<!-- Start Form -->
<br><br><br><br><br><br><br><br>
<body class="login">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="jumbotron">
          <!-- Start Form -->
          <form method="POST" action="/login">
            <!-- Username -->
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control"
                placeholder="Enter Username" name="apiUser" required>
            </div>

            <!-- Password -->
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control"
                placeholder="Password" name="apiPass" required>
            </div>

            <div class="checkbox">
              <label>
              <input type="checkbox"> Remember Me
              </label>
            </div>


  
  <div class="row text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary" id="submit-button" type="submit" style="background-color: #A38881">log in</a>
    </div>
  </div>
</form>

<!-- End Form -->



</body>
</html>